<!DOCTYPE html>
<html>
<head>
  <title>Turingmugs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
Turing Mugs
<nav>
<%= link_to "Connectors", controller: 'connectors' %>
<%= link_to "Logs", controller: 'logs' %>
</nav>
</header>

<%= yield %>

</body>
</html>
